html{
  font-size: 10px;
  font-family: "EB Garamond", serif;
}
body{
  font-size: 1.6rem;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  background: #16161d;
  color: azure;
}

header{
  /* grid-column: span 12; */
  text-align: center;
  vertical-align: bottom;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 200px;
  background: linear-gradient(to bottom, midnightblue 60%, transparent 60%);
  padding-top: 10px;
}
header *{
  background: midnightblue;
}
h1{
  border-radius: 0 0 50% 50%;
  corner-shape: scoop;
  border-bottom: 10px solid slateblue;
  padding-bottom: 1em;
  box-shadow: 0px 15px 12px #16161d;
  /* outline-top: 500px solid midnightblue; doesn't work, need new method*/
}
main{
  grid-column-start: 3;
  grid-column-end: 11;
  background: midnightblue;
  padding: 5px;
}
.spacer{
  height: 225px;
}

td{
  /* min-width: 5vw; */
  max-width: 20vw;
  padding-bottom: 2em;
  border-left: 1px dashed slateblue;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 10px;
}
.entry, .entry *{
  font-weight: bold !important;
  padding-bottom: 0 !important;
}

.lineUnder, .lineUnder *{
  border-bottom: 1px solid azure;
}

b{
  font-weight: normal;
  color: slateblue;
}

a{
  color: slateblue;
}
a:hover{
  color: azure;
}

.entry a{
  color: azure;
  text-decoration: none;
}
.entry a:hover{
  text-decoration: underline;
}

#example{
  font-style: italic;
}

/* responsive code goes here vvv */
@media only screen and (max-width: 850px/*may need to change number*/) {
  main{
    grid-column: span 12;
  }
  body{
    font-size: 1.4rem;
  }
  td{
    max-width: 30vw;
  }
}
